.nav__list {
  display: flex;
}

.header__inner {
  display: flex;
  justify-content: end;
}

.nav__item>a {
  margin: 10px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
}