.recent {
  background: #EDF7FA;
  margin-top: 100px;
}

.recent__content {
  display: flex;
  justify-content: space-between;
}

.recent__content_inner {
  width: 50%;
  background-color: white;
  color: #21243D;
  margin: 30px;
}

.recent__content__inner_heading {
  width: 80%;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  padding: 20px;
  margin-bottom: 0px;
}

.recent__contant_inner_data {
  width: 70%;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 20px;
}

.recent__content__inner_text {
  width: 70%;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}

.recent__posts {
  display: flex;
  justify-content: space-between;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

@media (max-width: 750px) {
  .recent__content{
    display: block;
  }

  .recent__content__inner_heading{
    font-size: 24px;
    text-align: center;
  }

  .recent__content_inner{
    width: 70%;
    margin: 0 auto;
  }
}